<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.en.mapper.WordsMapper">
    <resultMap id="rmSelectWord" type="WordsVo">
        <id property="id" column="id"/>
        <result property="word" column="word"/>
        <result property="level" column="level"/>
        <result property="meanCn" column="mean_cn"/>
        <collection property="sentences" ofType="com.en.pojo.po.Sentences">
            <id property="id" column="sentence_id"/>
            <result property="sentence" column="sentence"/>
            <result property="sentenceCn" column="sentence_cn"/>
        </collection>
    </resultMap>

    <sql id="sqlListAll">
        SELECT w.id,
               w.word,
               w.mean_cn,
               w.level,
               s.id sentence_id,
               s.sentence,
               s.sentence_cn
        FROM words w
                 JOIN word_sentence ws on w.id = ws.word_id
                 JOIN sentences s on s.id = ws.sentence_id
    </sql>

    <select id="selectWordList" resultMap="rmSelectWord">
        <include refid="sqlListAll"></include>
    </select>

    <select id="selectWord" resultMap="rmSelectWord">
        <include refid="sqlListAll"></include> WHERE w.word = #{word}
    </select>
</mapper>